
<section class="slider_section">
    <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
       <div class="carousel-inner">
          <div class="carousel-item active">
             <img class="first-slide" src="https://cdn.discordapp.com/attachments/704142250845929492/1042914917956714607/Diseno_sin_titulo_4.png" alt="First slide">
             <div class="container">
                <div class="carousel-caption relative">
                   <h1>Mascota Feliz</h1>
                   <p></p>
                   <br>
                   <br>
                   <br>
                   <br>
                   <a  href="#">REGÍSTRATE</a>
                </div>
             </div>
          </div>
       </div>
    </div>   
 </section>
 <!-- about  -->
 <div id="about" class="about top_layer">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>Quienes Somos</h2>
                <span>Somos un equipo de personas y profesionales en el area de veterinaria,
                  capacitado en las diferentes metodologías y técnicas necesarias para la atención
                  integral de todos nuestros pacientes. </span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-12">
             <div class="img-box">
                <figure><img src="https://cdn.discordapp.com/attachments/704142250845929492/1042907144460189746/Diseno_sin_titulo.png" alt="img"/></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- end abouts -->
     <!-- Pricing Plan Start -->
     <div class="container-fluid bg-light pt-5 pb-4">
       <div class="container py-5">
           <div class="d-flex flex-column text-center mb-5">
               <h4 class="text-secondary mb-3">Nuestros Planes</h4>
               <h1 class="display-4 m-0">Elije <span class="text-primary">El mejor precio</span></h1>
           </div>
           <div class="row">
               <div class="col-lg-4 mb-4">
                   <div class="card border-0">
                       <div class="card-header position-relative border-0 p-0 mb-4">
                           <img class="card-img-top" src="https://cdn.discordapp.com/attachments/704142250845929492/1042917022792683591/Diseno_sin_titulo_5.png" alt="">
                           <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                               <h3 class="text-primary mb-3">Basic</h3>
                               <h1 class="display-4 text-white mb-0">
                                   <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>98000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Cop</small>
                               </h1>
                           </div>
                       </div>
                       <div class="card-body text-center p-0">
                           <ul class="list-group list-group-flush mb-4">
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Feeding</li>
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Boarding</li>
                               <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>Spa & Grooming</li>
                               <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>Veterinary Medicine</li>
                           </ul>
                       </div>
                       <div class="card-footer border-0 p-0">
                           <a href="" class="btn btn-primary btn-block p-3" style="border-radius: 0;">Obtenerlo</a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 mb-4">
                   <div class="card border-0">
                       <div class="card-header position-relative border-0 p-0 mb-4">
                           <img class="card-img-top" src="https://cdn.discordapp.com/attachments/704142250845929492/1042917022473920532/Diseno_sin_titulo_6.png" alt="">
                           <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                               <h3 class="text-primary mb-3">Standard</h3>
                               <h1 class="display-4 text-white mb-0">
                                   <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>170000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Cop</small>
                               </h1>
                           </div>
                       </div>
                       <div class="card-body text-center p-0">
                           <ul class="list-group list-group-flush mb-4">
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Feeding</li>
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Boarding</li>
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Spa & Grooming</li>
                               <li class="list-group-item p-2"><i class="fa fa-times text-danger mr-2"></i>Veterinary Medicine</li>
                           </ul>
                       </div>
                       <div class="card-footer border-0 p-0">
                           <a href="" class="btn btn-secondary btn-block p-3" style="border-radius: 0;">Obtenerlo</a>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 mb-4">
                   <div class="card border-0">
                       <div class="card-header position-relative border-0 p-0 mb-4">
                           <img class="card-img-top" src="https://cdn.discordapp.com/attachments/704142250845929492/1042917022134194369/Diseno_sin_titulo_7.png" alt="">
                           <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                               <h3 class="text-primary mb-3">Premium</h3>
                               <h1 class="display-4 text-white mb-0">
                                   <small class="align-top" style="font-size: 22px; line-height: 45px;">$</small>250000<small class="align-bottom" style="font-size: 16px; line-height: 40px;">/ Cop</small>
                               </h1>
                           </div>
                       </div>
                       <div class="card-body text-center p-0">
                           <ul class="list-group list-group-flush mb-4">
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Feeding</li>
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Boarding</li>
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Spa & Grooming</li>
                               <li class="list-group-item p-2"><i class="fa fa-check text-secondary mr-2"></i>Veterinary Medicine</li>
                           </ul>
                       </div>
                       <div class="card-footer border-0 p-0">
                           <a href="" class="btn btn-primary btn-block p-3" style="border-radius: 0;">Obtenerlo</a>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <!-- Pricing Plan End -->

    <!-- Testimonial -->
    <div id="testimonial" class="testimonial">
       <div class="container">
          <div class="row">
             <div class="col-md-12">
                <div class="titlepage">
                   <h3>Testimonios</h3>
                </div>
             </div>
          </div>
          <div class="row">
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div id="testimonial_slider" class="carousel slide banner-bg" data-ride="carousel">
                   <div class="carousel-inner">
                      <div class="carousel-item active">
                         <img class="first-slide" src="https://cdn.discordapp.com/attachments/704142250845929492/1042919750117883965/Diseno_sin_titulo_8.png">
                         <div class="container">
                            <div class="carousel-caption relat">
                               <h3>Luka y yo</h3>
                               <span><i class="fa fa-quote-left"></i> Cliente<i class="fa fa-quote-right"></i></span>
                               <p>La atención prestada en Mascota Feliz fue la que esperaba mi peludo y yo quedamos muy felices. </p>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="contact">
                   <h3>Contáctenos</h3>
                   <h1>Quiero ser cliente</h1>
                   <form>
                      <div class="row">
                         <div class="col-sm-12">
                           <input type="text" id="fullName" class="form-control" placeholder="Nombre Completo..">
                         </div>
                         <div class="col-sm-12">
                           <input type="text" id="emailAddress" class="form-control" placeholder="Email..">
                         </div>
                         <div class="col-sm-12">
                           <input type="text" id="telefono" class="form-control" placeholder="Teléfono..">
                         </div>
                         <div class="col-sm-12">
                           <textarea id="message" class="form-control" placeholder="Mensaje.."></textarea>
                         </div>
                         <div class="col-sm-12">
                            <button class="send">Enviar</button>
                         </div>
                      </div>
                   </form>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- end Testimonial --> 




