
<!--  footer -->
<footer>
    <div class="footer bg-dark">
      <div class="container-fluid">
        <div class="row p-5 bg-darktext-dark">
          <div class="col-lg-3 col-md-6 col-sm-12 width">
            <div class="logo">
              <p class="h4 text-white">Patatas Subscriber</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-xs-12 width">
            <p class="h5 text-white">Contactanos</p>
            <div class="Contact mb-2 text-secondary">
              <p>Telefono: 3177153157</p>
              <p>Pasto-Colombia</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-xs-12 width">
            <div class="link mb-2 text-secondary">
              <p class="h5 text-white">Links</p>
              <p>Ubicaciones</p>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-xs-12 width">
            <div class="politicas mb-2 text-secondary">
              <p class="h5 text-white">Politicas</p>
              <i>Politicas y Servicios</i>
            </div>
          </div>
          <!-- <div class="col-lg-2 col-md-6 col-xs-12 width">
            <div class="social">
              <p class="h5 text-white">Social</p>
              <a href="#" target="_blank"
                ><span class="mai-logo-facebook-f" style='color: white'></span
              ></a>-
              <a href="#" target="_blank"
                ><span class="mai-logo-twitter" style='color: white'></span
              ></a>-
              <a href="#" target="_blank"
                ><span class="mai-logo-google-plus-g" style='color: white'></span
              ></a>-
              <a href="#" target="_blank"
                ><span class="mai-logo-instagram" style='color: white'></span
              ></a>-
              <a href="#" target="_blank"
                ><span class="mai-logo-linkedin" style='color: white'></span
              ></a>
            </div>
          </div> -->
        </div>
      </div>
      <div class="copyright text-white">
        <p class="text-center text-secondary"> Copyright 2023 All Right Reserved Created By: <a href="https://www.linkedin.com/in/christian-calvache-hv/">Christian Calvache</a></p>
      </div>
    </div>
  </footer>
  <!-- end footer -->
  